// Define variables for your color scheme
// For example:

$red: #EE5F5B;
$blue: #469AE0;
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;
$gray: #000000;
$light-gray: #F4F4F4;

// My colour schema
$white: rgb(255,255,255);
$light-grey: rgb(150,150,150);
$darker-grey: rgb(50,50,50);
$dark-blue: rgb(32,53,98);
