<section id="films">
  <div class="video">
    <iframe width="710" height="420" src="https://www.youtube.com/embed/MgToPZuRMi0?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
  </div>
  <div class="content-film">
    <h1>Belmondo par Belmondo</h1>
    <h2>Régis Mardon</h2>
    <p> documentary, TF1</p>
  </div>
</section>
