<div class="wrapper-contact">
  <div class="parent-contact">
      <div class="child left-contact" style='background-image: linear-gradient(rgba(255,255,255,0.1),rgba(255,255,255,0.2)), url(<%= image_path 'phone.jpg' %>)'>
  </div>

  <div class="parent-contact">
    <div class="child right-contact">
  </div>
</div>
