<div class="wrapper-contact">
  <div class="parent-contact">
      <div class="child-left-contact" style='background-image: linear-gradient(rgba(255,255,255,0.1),rgba(255,255,255,0.2)), url(<%= image_path 'phone.jpg' %>)'>
      </div>
  </div>
  <div class="parent-contact">
    <div class="child-right-contact">
      <div class="container-contact">
      <form id="contact" action="https://formspree.io/zuzglowacka@gmail.com" method="POST">
        <h3>Contact me</h3>
        <fieldset>
          <input placeholder="Your name (required)" type="text" name="name" tabindex="1" required autofocus>
        </fieldset>
        <fieldset>
          <input placeholder="Your Email Address (required)" type="email" name="_replyto" tabindex="2" required>
        </fieldset>
        <fieldset>
          <input placeholder="Your Phone Number" type="tel" name="phone_number" tabindex="3" required>
        </fieldset>
        <fieldset>
          <input placeholder="Your Web Site starts with http://" type="url" name="website" tabindex="4" required>
        </fieldset>
        <fieldset>
          <textarea placeholder="Type your Message Here...." name="message" tabindex="5" required></textarea>
        </fieldset>
        <fieldset>
          <button name="submit" type="submit" id="contact-submit" data-submit="...Sending">Send</button>
        </fieldset>
      </form>
      </div>
    </div>
  </div>
</div>
