<div class="wrapper">
  <div class="parent">
    <%= link_to about_path do %>
      <div class="child left" style='background-image: linear-gradient(rgba(255,255,255,0.1),rgba(255,255,255,0.2)), url(<%= image_path 'phone.jpg' %>)'>
    <% end %>
  </div>

  <div class="parent">
    <div class="child right">
  </div>
</div>
