<div class="wrapper">
  <div class="parent">
    <div class="child left" style='background-image: linear-gradient(rgba(255,255,255,0.3), rgba(255,255,255,0.3)), url(<%= image_path 'realization.jpg' %>)'>
      <h1 class="caption">View my website</h1></div>
  </div>

  <div class="parent">
    <div class="child right" style='background-image: linear-gradient(rgba(255,255,255,0.3), rgba(255,255,255,0.3)), url(<%= image_path 'camera.jpg' %>)'>
      <h1 class="caption">View my resumé</h1></div>
  </div>
</div>
