<section id="films">
  <div class="video">
    <iframe width="710" height="420" src="https://www.youtube.com/embed/BqY-l-YF2UA?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
  </div>
  <div class="content-film">
    <h1>In the Footsteps of Marie Curie</h1>
    <h2>Krzysztof Rogulski</h2>
    <p>The film tells of the principal stages in Marie Curie's life and career. She was a citizen of Warsaw, famous scientist- double winner of Nobel prize in Science. Our interlocutors they are e.g. L'Oreal-Unesco prize winner "Women in Science" from 2011. There are women-scientists from five continents. All are awarded of the prize amounted of 100 000 dollars for scientific works of the greatest meaning to the humanity.</p>
  </div>
</section>
