<section id="films">
  <div class="video">
    <iframe width="710" height="420" src="https://www.youtube.com/embed/RPLpbDFQZpg?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
  </div>
  <div class="content-film">
    <h1>Red</h1>
    <h2>Krzysztof Kieślowski</h2>
    <p>Krzysztof Kieślowski closes his Three Colors trilogy in grand fashion, with an incandescent meditation on fate and chance, starring Irène Jacob as a sweet-souled yet somber runway model in Geneva whose life dramatically intersects with that of a bitter retired judge, played by Jean‑Louis Trintignant.</p>
  </div>
</section>
