<div class="about-layout">
  <div class="parallax-4">
    <div class="parallax-content text-center">
      <h2>MY RESUMÉ</h2>
    </div>
  </div>
  <div class="entry-content">
    <h1>
      Urszula Lesiak
      <br>
      Feature film and documentary editor,
      <br>
      Co-director and co-author documentary/
      <br>
      Script doctor,
      <br>
      Editing doctor
    </h1>

  </div>
</div>
