<div class="about-layout">
  <div class="parallax-4">
    <div class="parallax-content text-center">
      <h2>MY RESUMÉ</h2>
    </div>
  </div>
  <div class="entry-content">
    <h1>
      Urszula Lesiak
      <br>
      Feature film and documentary editor,
      <br>
      Co-director and co-author documentary/
      <br>
      Script doctor,
      <br>
      Editing doctor
    </h1>
    <p>
      Chief editor in feature films and documentary:
      dir. by Krzysztof Kieslowski, Jörg Helbling, Andrzej Wajda, Olias Barco, Atiq Rahimi, Greg Zglinski with broad international working experience for almost 60 feature and documentary films
    </p>
    <p>
      Analyze of script before shooting
    </p>
    <p>
      Editing doctor - last cut film :
      with Severine Cornamuzas, Greg Zglinski , Kamal Musale, Olga Chajdas,  in collaboration with Cab Productions, Louise Productions, tellfilm gmbh-Katrin Renz, FILM IT, SCORPIO Productions etc.
    </p>
    <p>
      Scenario co-writer for feature-documentary projects
    <p>
      Co-director of documentaries (with Hanna Polak, Piotr Jaxa and Manon Loizeau)
    <p>
      Chief editor and conception of almost 20 theatrical cinema trailers
    </p>
    <p>
      Assistant editor in feature films:
      dir. by Maurice Pialat, Gerard Oury, Lars von Trier, Emir Kusturica
    </p>
    <h1>
      Selected filmography:
    </h1>
    <p>
      <strong>2015/16</strong> BELMONDO PAR BELMONDO, documentary,TF1,editor and co-author<br>
      <strong>2013</strong> LES REINES DE SABA, documentary, AMIP PROD;, FRANCE, directed by MANON LOIZEA, CHIEF EDITOR<br>
      <strong>2012</strong> CYANURE, feature film, PS PRODUCTION, SUISSE,dir. By S. CORNAMUZAS, CHIEF_EDITOR<br>
      <strong>2011</strong> MARIE CURIE SKLODOWSKA, documentary, ALCHIMIC PROD, France, author and CHIEF EDITOR<br>
      <strong>2009</strong> LA FRANCE DES CAMPS, documentary, dir. by J. Amat, PHARES ET BALISES, FRANCE 2, chief editor<br>
      <strong>2008</strong> CENTRAL NUIT _ SEASON 7, SERIAL TV, 6 episodes. of 52 min,dir. by Félix Olivier, FRANCE 2, chief editor<br>
      <strong>2008</strong> MARECHAL, NOUS VOILA?, documentary dir. by J. Amat, PHARES ET BALISES, FRANCE 2, chief editor<br>
      <strong>2007</strong> PARTIR A TOUT PRIX, documentary. Dir. by A.Camacho, AGAT FILMS, FR 3,  chief editor<br>
      <strong>2006</strong> LE SOLEIL ORANGE (THE ORANGE SUN), dir. by Piotr Jaxa, Hanna Polak and Ursula Lesiak, documentary, Green Light & HesseGreutert, Switzerland, chief editor & co-director<br>
      <strong>2004</strong> TOUT UN HIVER SANS FEU, dir. by Greg Zglinski, feature, CAB, Switzerland, chief editor<br>
      <strong>2004</strong> TERRE ET CENDRE (SOIL AND ASHES), dir. by Atiq Rahimi, feature, Les Films du Lendemains, France, chief editor<br>
      <strong>2003</strong> NORD-OST, dir. by M. Loiseaux and Ursula Lesiak, documentary, ARTE, France, chief editor & co- director<br>
      <strong>2003</strong> SNOWBOARDER, dir. by Olias Barco, feature, NORD-EST Productions,      France/Switzerland, chief editor<br>
      <strong>1999</strong> PAN TADEUSZ, dir. by Andrzej Wajda, feature – international version, Films de Lausanne,    Poland/France, chief editor<br>
      <strong>1997</strong> LE NAIN ROUGE, dir. by Ivan le Moine, AAA Fillm Belges<br>
      <strong>1995</strong> DER NEBELLÄUFER, dir. by Jörg Helbling, Edi Hubschmid Produktion AG, Switzerland, chief editor<br>
      <strong>1994</strong> BIALY (WHITE), dir. by Krzysztof Kieslowski, feature-, MK 2, France/Poland/Switzerland, chief editor<br>
      <strong>1994</strong> ROUGE (RED), dir. by Krzysztof Kieslowski, feature, MK 2, France/Poland/Switzerland, assistant editor<br>
      <strong>1993</strong> BLEU (BLUE), dir. by Krzysztof Kieslowski, feature, MK 2, France/Poland/Switzerland, assistant editor<br>
      <strong>1993</strong> ARIZONA DREAM, dir. by Emir Kusturica, feature, Constellation Productions, USA/France, assistant editor<br>
      <strong>1991</strong> EUROPA, dir. by Lars von Trier, feature, Gérard Mital Productions, Denmark/France, assistant editor<br>
      <strong>1991</strong> LA DOUBLE VIE DE VERONIQUE, dir. by Krzysztof Kieslowski, feature, Sideral, France/Poland,      assistant editor<br>
      <strong>1989</strong> VANILLE – FRAISE, dir. by Gérard Oury, feature, Ariane Films, France, assistant editor<br>
      <strong>1985</strong> POLICE, dir. by Maurice Pialat, feature, Gaumont, France, assistant editor<br>
    </p>
  </div>
</div>
