<section id="films">
  <div class="video">
    <iframe width="710" height="420" src="https://www.youtube.com/embed/yj0TMBA3S3g?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
  </div>
  <div class="content-film">
    <h1>Earth and Ashes (Terre et Cendres)</h1>
    <h2>Atiq Rahimi</h2>
    <p> Elderly Dastaguir and his newly deaf 5-year-old grandson Yassin hitchhike and walk, but mostly walk, as they make their way to the coal mine where Dastaguir's son Murad works. Dastaguir must tell Murad that the rest of their family were all killed in a recent bomb attack.</p>
  </div>
</section>
