<section id="films">
  <div class="video">
    <iframe width="710" height="420" src="https://www.youtube.com/embed/iBrPfR6oMsM?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
  </div>
  <div class="content-film">
    <h1>The Double Life of Veronique</h1>
    <h2>Krzysztof Kieślowski</h2>
    <p>Nominated for 1 Golden Globe.</p>
  </div>
</section>
