<section id="films">
  <div class="video">
    <iframe width="710" height="420" src="https://www.youtube.com/embed/xECEAPfdqic?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
  </div>
  <div class="content-film">
    <h1>White</h1>
    <h2>Krzysztof Kieślowski</h2>
    <p>White is the second part of Krzysztof Kieslowski's trilogy based on the colours of the French flag and upon the precepts of liberty, freedom and equality</p>
  </div>
</section>
