<div class="about-layout">
  <div class="parallax-3">
    <div class="parallax-content text-center">
      <h2>MY EDITING WORK</h2>
    </div>
  </div>
</div>
<div class="wrapper-cards">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-6">
        <% @projects.each do |project| %>
          <div class="card" style="background-image: linear-gradient(rgba(255,255,255,0.2),rgba(0,0,0,0.2)), url(<%= project.photo.url %>);">
          <div class="card-body">
            <h3><%= project.name %></h3>
            <p><%= project.genre %></p>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

