<div class="about-layout">
  <div class="parallax-3">
    <div class="parallax-content text-center">
      <h2>MY EDITING WORK</h2>
    </div>
  </div>

  <div id="wrapper">
    <div class="container">
      <div class="cards">
        <div class="courses-box wow slideInDown" data-wow-delay="0.7644388826440165s">
          <div class="card course-card" style="background-image: url('http://res.cloudinary.com/zuziac/image/upload/v1525788470/MV5BZGJhNDdmMWMtNzZiYy00MmFiLThjNmUtYTE1ZjRkNjdjYmQ5XkEyXkFqcGdeQXVyMTMxODk2OTU_._V1_.jpg');">
            <div class="card" style="background-image: linear-gradient(rgba(255,255,255,0.2),rgba(0,0,0,0.2);">
              <div class="card-body">

              </div>
            </div>

        </div>
      </div>
    </div>
  </div>
</div>
