.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 70px;
}

.courses-box {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: flex-start;
}

.card {
  position: relative;
  height: 300px;
  width: 200px;
  background-size: cover !important;
  background-position: center;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  padding-top: 5px;

}

.card-course-name {
  position: absolute;
  box-sizing: border-box;
  color: white;

  h3 {
    font-size: 18px;
    margin-top: 8px;
  }
}
