.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 70px;
}

.courses-box {
  display: flex;
  justify-content: space-around;
}

.card {
  height: 300px;
  width: 200px;
  position: relative;
  // flex: 0 0 25%;
  // flex-wrap: wrap;
  background-size: cover !important;
  background-position: center;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  // align-items: center;

}

.card-body {
  padding: 10px 10px 10px 20px;
  color: white;
  transition: 0.3s;

  h3 {
    font-size: 18px;
    margin-bottom: 5px !important;
  }

  p {
    font-size: 14px;
  }
}
