.parallax, .parallax-2, .parallax-3, {
  display: flex;
  justify-content: space-around;
  align-items: center;

  /* Set a specific height */
  height: 450px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.parallax {
  /* The image used */
  background-image: linear-gradient(to bottom right, rgba(0,0,0,0.1), rgba(0,0,0,0.3)), url("http://res.cloudinary.com/zuziac/image/upload/v1525114453/parallax.jpg");
}
.parallax-2 {
  /* The image used */
  background-image: linear-gradient(to bottom right, rgba(0,0,0,0.1), rgba(0,0,0,0.3)), url("http://res.cloudinary.com/zuziac/image/upload/v1525114391/parallax-2.jpg");
}
.parallax-3 {
  /* The image used */
  background-image: linear-gradient(to bottom right, rgba(0,0,0,0.1), rgba(0,0,0,0.3)), url("http://res.cloudinary.com/zuziac/image/upload/v1525128754/timothy-eberly-382663-unsplash.jpg");
}
.parallax-content {
  color: $white;
  text-shadow: 1px 0px 3px rgba(0,0,0,0.3);

  h2 {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-size: 4.375rem;
    letter-spacing: 10px;
    font-weight: bold;
  }

  p {
    margin-bottom: 0;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 8px;
  }
}
/* Turn off parallax scrolling for tablets and phones. Increase/decrease the pixels if needed */
@media only screen and (max-device-width: 1024px) {
  .parallax, .parallax-2, .parallax-3 {
      background-attachment: scroll;
  }
}
