#films {
  padding-top: 70px;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
}

.content-film {
  padding: 40px 80px 0px 0px;
  width: 350px;
  position: absolute;
  right: 15px;
  margin-top: -8px;
}

.video {
  position: relative;
  width: 100%;
  margin: 20px auto 30px auto;
  padding-left: 115px;
}

.content-film {
  h1, h2 {
    font-size: 31px;
    font-weight: 300;
  }
}
